# Python cache files
__pycache__/
*.pyc

# Logs and local files
install.log
cmd_history.txt

# Poetry and virtual env
.venv/
dist/

# Type checking and linting cache
.mypy_cache/
.pytest_cache/
.ruff_cache/

# Coverage reports
htmlcov/
.coverage

archinstall

# QEMU testing files
my_vars.fd
arch.qcow2
*.qcow2

# QEMU scripts directory files
qemu_scripts/*.img
qemu_scripts/*.iso
qemu_scripts/*.qcow2
qemu_scripts/my_vars.fd

*/*.iso
*.iso
out
gen_iso/*/airootfs/root/
local_repo
