title    Arch Linux installer — safe LinuxKMS demo (%ARCH%, UEFI)
sort-key 02
linux    /%INSTALL_DIR%/boot/%ARCH%/vmlinuz-{{ kernel }}
initrd   /%INSTALL_DIR%/boot/%ARCH%/initramfs-{{ kernel }}.img
options  archisobasedir=%INSTALL_DIR% archisosearchuuid=%ARCHISO_UUID% archinstall_zfs.demo=1{% if fast_build %} console=tty0 console=ttyS0,115200{% endif %}
